.crosses-app
{
  .opportunity-row
  {
    .stock-info
    {
      display: flex;
      flex-direction: column;

      .top-part
      {
        font-weight: bold;
        font-size: 16px;
        background-color: #404040;
        display: flex;
        align-items: center;
        padding: 5px;

        .stock-label
        {
          font-size: 12px;
          font-weight: bold;
          font-family: Arial, sans-serif;
        }

        .buy-label
        {
          color: #346bb4;
          font-size: 18px;
          padding: 0px;
          margin-right: 200px;
        }

        .sell-label
        {
          color: #528c74;
          font-size: 18px;
          padding: 0px;
          margin-left: 80px;
        }

        .stock-code
        {
          font-size: 18px;
          font-weight: bold;
          font-family: Arial, sans-serif;
          color: white;
          margin-right: 20px;
        }

        .stock-currency
        {
          font-size: 13px;
          font-weight: bold;
          font-family: Arial, sans-serif;
          color: white;
          margin-right: 280px;
        }

        .stock-description
        {
          font-size: 14px;
          font-family: Arial, sans-serif;
          color: white;
        }

        .summary-info
        {
          font-size: 12px;
          font-family: Arial, sans-serif;
          color: #ea3535;
          display: flex;
          gap: 20px;
          align-items: center;
          margin-left: auto;
        }
      }

      .bottom-part
      {
        display: flex;

        .buy-orders
        {
          background-color: white;
          flex-grow: 1;
          padding: 0;

          .ag-header
          {
            background-color: #4F81BD;
            font-size: 10px;
            font-weight: bold;
            font-family: Arial, sans-serif;
            height: 16px;
          }

          .ag-cell
          {
            font-size: 10px;
          }
        }

        .sell-orders
        {
          background-color: white;
          flex-grow: 1;
          padding: 0;

          .ag-header
          {
            background-color: #528c74;
            font-size: 10px;
            font-weight: bold;
            font-family: Arial, sans-serif;
            height: 16px;
          }

          .ag-cell
          {
            font-size: 10px;
          }
        }
      }
    }
  }
}
