Button.dialog-action-button
{
  text-transform: none;
  background-color: #404040;
  color: white;
  margin-right: 10px;

  &.submit
  {
    margin-right: 15px;
  }

  &:hover
  {
    background-color: #656161;
  }
}
