.holdings-app
{
  .holdings-tab-list
  {
    min-height: 27px;
    height: 27px;
    background-color: white;

  }

  // Styles for the client tab
  .holdings-tab
  {
    // Custom styles for each tab
    min-height: 25px;
    height: 25px;
    text-transform: none;
    color: white;

    // Additional styles as needed
  }
  .holdings
  {
    margin: 0;
    padding: 0;
    .holdings-row
    {
       .summary-info
       {
          font-size: 12px;
          font-family: Arial, sans-serif;
          font-weight: bold;
          color: #4F81BD;
          background-color: #404040;
          display: flex;
          gap: 20px; // Add space between summary elements
          align-items: center; // Align items vertically
          margin-left: auto; // Push summary to the right
       }

      .ag-header
      {
        background-color: #4F81BD; // Blue color
        font-size: 10px;
        font-weight: bold;
        font-family: Arial, sans-serif;
        height: 16px; // Reduced header height
      }

      .ag-cell
      {
        font-size: 10px; // Reduced font size
      }
    }
  }
}

