@import './launch-pad-app';
@import './dialog-base';
@import './component-base';
@import 'crosses-app';
@import 'trade-history-app';
@import 'insights-app';
@import 'limits-app';
@import 'notional-limits-grid';
@import 'adv-limits-grid';
@import 'quantity-limits-grid';
@import 'price-limits-grid';
@import 'holdings-app';
@import 'tasks-list-app';
@import 'title-bar';
@import 'snippet-title-bar';
@import 'generic-grid.scss';
@import 'blast-dialog';
@import 'alert-configurations-dialog.scss';
@import 'reference-data-app';
@import 'orders-app';
@import 'parametrics-app';
@import 'rfqs-app';
@import 'rfq-creation-dialog';

body
{
  // TODO - get the title bar component's title (for second windows) to work...
  margin: 0px;
  border: 10px solid #404040;
}

#loading
{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 54px;
  color: darkred;
}
