.task-list-app
{
  .task-icon
  {
    color: #404040;
    margin-left: -12px;
    margin-right: -20px;
  }
  .task-search
  {
    margin-right: 8px;
  }

  .task-list-item
  {
    margin-top: -2px;
    border: 2px solid #404040;
    border-radius : 4px;
    margin-bottom: 8px;
    height: 60px;
  }
  .task-type-label
  {
    color: #ea3535;
    font-weight: bold;
    margin-right: 8px;
    font-size: 13px;
  }

  .task-metadata
  {
    margin-right: 10px;
  }

  .task-stock-code
  {
    height: 40px;
    font-weight: bold;
    margin-right: 8px;
  }

  .task-stock-description
  {
    font-size: 11px;
  }

  .task-metadata
  {
    font-size: 12px;
  }

  .task-live-label
  {
    font-family: Calibri;
    background-color: #528c74;
    color: white;
    border-color: darkgreen;
    padding: 2px 5px;
    border-radius: 4px;
    margin-right: -13px;
    margin-top: -5px
  }
}
