.trade-history-app
{
  .trade-history-tab-list {
    min-height: 27px;
    height: 27px;
    background-color: white;
  }

  .client-trade-history-tab {
    min-height: 22px;
    height: 25px;
    text-transform: none;
    color: white;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
  }

  .stock-trade-history-tab {
    min-height: 24px;
    height: 25px;
    text-transform: none;
    color: white;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
  }

  .client-trade-history, .stock-trade-history {
    margin: 0;
    padding: 0;
    .trade-history-row {
      .stock-info {
        display: flex;
        flex-direction: column;

        .top-part {
          font-weight: bold;
          font-family: Arial, sans-serif;
          background-color: #656161;
          display: flex;
          align-items: center;
          color: white;
          margin-bottom: -5;
          padding: 0;
        }

        .bottom-part {
          display: flex;
          flex-grow: 1;
          margin: 0;
          padding: 0;

          .buy-orders {
            background-color: white;
            flex-grow: 1;
            padding: 0;
            margin: 0;

            .summary-info {
              font-size: 12px;
              font-family: Arial, sans-serif;
              font-weight: bold;
              color: #4F81BD;
              background-color: #656161;
              display: flex;
              gap: 50px;
              align-items: center;
              margin-left: auto;
            }

            .ag-header {
              background-color: #4F81BD;
              font-size: 10px;
              font-weight: bold;
              font-family: Arial, sans-serif;
              height: 16px;
            }

            .ag-cell {
              font-size: 10px;
            }
          }

          .sell-orders {
            background-color: white;
            flex-grow: 1;
            padding: 0;
            margin: 0;

            .summary-info {
              font-weight: bold;
              font-size: 12px;
              font-family: Arial, sans-serif;
              color: #528c74;
              background-color: #656161;
              display: flex;
              gap: 50px;
              align-items: center;
              margin-left: auto;
            }

            .ag-header {
              background-color: #528c74;
              font-size: 10px;
              font-weight: bold;
              font-family: Arial, sans-serif;
              height: 16px;
            }

            .ag-cell {
              font-size: 10px;
            }
          }
        }
      }
    }
  }
}
