Button.dialog-action-button
{
    text-transform: none;
    background-color: #404040;
    color: white;
}

Button.dialog-action-button.submit
{
    margin-right: 15px;
}

Button.dialog-action-button:hover
{
    background-color: #656161;
}
